
/target
/.settings
/android/.settings
/android/target
/android/.classpath
/android/.project
/core/.settings
/core/target
/core/.project
/core/.classpath
/html/.project
/html/.settings
/html/target
/html/.classpath
/java/.classpath
/java/.project
/java/.settings
/java/target
/.project